{% extends 'base.html.twig' %}

{% block title %}Hello AdminGenreController!
{% endblock %}

{% block body %}
	<h1>Ajouter un Genre</h1>
	{{ form_start(form) }}
	{{ form_row(form.libelle) }}
	<button type="submit">Ajouter</button>
	{{ form_end(form) }}
{% endblock %}
